# 依存関係
/node_modules
/.pnp
.pnp.js

# テスト
/coverage

# 本番ビルド
/build
/dist

# その他
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# エディタ設定
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace

# ESLint
.eslintcache

# TypeScript
*.tsbuildinfo

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# macOS固有のファイル
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
